<!DOCTYPE html>
<head>
    <title>Server Config</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
        <h1>Server Config</h1>
        {{#each cfg}}
            <p>{{@key}}: {{this}}</p>
        {{/each}}
</body>
