<!DOCTYPE html>
<head>
    <title>Centro de Mensajes</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts.js"></script>
</head>
<body>
    <form action="/web/logout" method="post">
        <tr>
            <td><h1>Centro de Mensajes</h1></td>
            <td><button type="submit">Desloguearse</button></td>
        </tr>
    </form>
    <form onsubmit="return addMessage(this)">
        <input type="text" id="mail" placeholder="Ingresá tu mail" >
        <br><br>
        <div id="messages"></div>
        <br><br>
        <input type="text" id="text" placeholder="Ingresá un mensaje">
        <input type="submit" value="Enviar">
    </form>
</body>
