<!DOCTYPE html>
<head>
    <title>Bienvenido al e-Commerce</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <h1>
            <form action="/logout" method="post">
                <tr><td>Bienvenido {{username}}</td>
                <td><button type="submit">Desloguearse</button></td></tr>
            </form>
        </h1>
    </div>
    <br>
    <hr>
    <table>
    <tr>
        <td><a href="/products">Productos</a></td>
        <td><a href="/cart">Carrito</a></td>
        <td><a href="/profile">Perfil</a></td>
    </tr>
    </table>
    <br>
</body>
