<!DOCTYPE html>
<head>
    <title>Logout e-Commerce</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Hasta luego {{username}}!!</h1>
    <script>
        setTimeout(() => {location.href = '/'}, 2000)
    </script>
</body>
